.titulo-proy{
    padding: 80px 80px 80px 80px;
    font-family: $fuente-principal;
    font-weight: 300;
    color: $font-color;

}

small{
    color: rgba(237, 242, 251, 0.689) !important;

}
.container-cards {
   @include flex-column-center;
    align-items: center;
    gap: 20px;
}

@media (min-width: 768px) {
    .container-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

@media (min-width: 992px) {
    .container-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}
.card {
    max-width: 100%;
    z-index: -1;
    background-color: $bg-body2;
    p{
        color: $font-color2;
    }
}

.card {
    transition: all 0.8s;

    &:hover {
            transform: scale(1.2,1.2);
        }
  }
        


.card-img-top {
    height: 300px;
}

.casas{
    h3{
        font-family: 'Montserrat',sans-serif;
        font-weight: 400;
        color: $font-color;
        margin-top: 30px;
        margin-bottom: 10px;
        margin-left: 30px;}
}

.casas{
     iframe{
        display: flex;
        padding-top: 20px;
        margin-left: 40px;
    }    
}


.edificios{
    margin-top: 10px;

    h3{
        font-family: 'Montserrat',sans-serif;
        font-weight: 400;
        color: $font-color;
        margin-top: 30px;
        margin-bottom: 10px;
        margin-left: 30px;
    }
}

.edificios{
    iframe{
            display: flex;
            padding-top: 20px;
            margin-left: 40px;
        }
} 

.oficinas{
    margin-top: 10px; 
    margin-bottom: 70px;

    h3{
        font-family: 'Montserrat',sans-serif;
        font-weight: 400;
        color: $font-color;
        margin-top: 30px;
        margin-bottom: 10px;
        margin-left: 30px;
    }

}